:root {
	--title-height: 48px;
	--color-bg: #DCE4E7;
	--color-light: #C3E6EC;
	--color-mid: #BADAE5;
	--color-dark: #A1C3C4;
	--color-highlight: #84ADAF;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.btn {
	font-size: 20px;
}

.container {
	height: 100vh;
	background-color: var(--color-bg);
}

.title-bar {
	height: var(--title-height);
	background-color: var(--color-dark);
	display: flex;
}

.title-left-action {
	width: var(--title-height);
	height: var(--title-height);
	background-color: var(--color-highlight);
	text-align: center;
	line-height: var(--title-height);
	font-size: 24px;
	color: white;
	cursor: pointer;
}

.title-title {
	padding-left: 10px;
	line-height: var(--title-height);
	font-weight: bold;
	color: white;
}

.main-content {
	height: calc(100vh - var(--title-height));
	background-color: var(--color-bg);
}

.btn-container {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.btn {
	width: 80%;
	background-color: var(--color-mid);
	border: none;
	color: white;
	border: 5px solid var(--color-highlight);
	padding: 15px;
}

.schedule-list {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.schedule-item {
	background-color: var(--color-mid);
	margin-bottom: 10px;
	padding: 10px;
}

.schedule-title {
	color: #555;
}

.schedule-data {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.schedule-author {
	margin-top: 10px;
	display: block;
	text-align: center;
}
