<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Escoje tu plática!</title>

		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<div id="app" class="container">

			<div class="title-bar">
				<div class="title-left-action">
					<i :class="left_icon" @click="runLeftAction" class="fa"></i>
				</div>
				<div class="title-title">
					{{ title }}
				</div>
				<div class="title-hour">
					{{ currentHour }}
				</div>
			</div>
			<div class="main-content">

				<div class="btn-container" v-if="section=='home'">
					<button class="btn" @click="talksNextClick" v-if="nextTime">¿A qué puedo entrar a las {{ nextTime }}?</button>
					<button class="btn" @click="talksNowClick">¿A qué puedo entrar ahora?</button>
				</div>

				<div
					class="schedule-list"
					v-if="section=='schedule'"
				>
					<div
						class="schedule-item"
						v-for="item in this[default_filter]"
					>
						<div class="schedule-item-wrapper">
							<strong class="schedule-title">{{ item.title }}</strong><br>
							<span class="schedule-author">
								{{ item.author}}<br>
								<small>{{ item.place}}</small>
							</span>
							<div class="schedule-data">
								<span>{{ item.from }} - {{ item.to }}</span>
								<span>{{ item.area }}</span>
							</div>
						</div>
						<div class="schedule-item-progress">
							<item-progress
								inline-template
								:from="item.from"
								:to="item.to"
								:hour="currentHour"
							>
								<div
									class="schedule-item-progress-bar"
									:style="{width: progressBarWidth}"
								></div>
							</item-progress>
						</div>
					</div>

					<div class="schedule-empty" v-if="this[default_filter].length === 0">
						No hay ninguna plática, ve a comer algo
					</div>
				</div>

			</div>

		</div>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.8/vue.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
